body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow:hidden;
}

.canvas {
    background-color: #1f1f1f;
    position: fixed;
    left:0;
    top:0;
    min-width: 100%;
    min-height: 100%;
}

.text {
    color: #000;
    font-size: 4vh;
}